<h1><%= @machine.location %> Vending Machine</h1>

<% @snacks.each do |snack| %>
  <p><%= snack.name %></p>
  <p><%= number_to_currency(snack.price) %></p>
<% end %>
<%= number_to_currency(@machine.average_price) %>
